<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-73013152-3"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-73013152-3');
        </script>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <title>Codopia - $title$</title>

        <!-- Stylesheets. -->
        <link rel="stylesheet" type="text/css" href="/style.css" />

        <!-- Metadata. -->
        <meta name="keywords" content="boeingx,blog,programming,coding,haskell,function,personal,homepage"/>
        <meta name="description" content="Personal home page and blog of BoeingX."/>
    </head>
    <body>
        <div id ="navigation">
            <h1>Codopia</h1>
            <a href="/">Home</a>
            <a href="/posts.html">Archive</a>
            <a href="/contact.html">Contact</a>
            <h1>Links</h1>
            <a href="https://github.com/BoeingX">GitHub</a>
            <a href="https://www.linkedin.com/in/baoyang-song">LinkedIn</a>
        </div>

        $body$
    </body>
</html>
